<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nhuy.shopshoesproject">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopShoesProject"
        tools:targetApi="31">
        <activity
            android:name=".view.Activity.Admin.Order.CustomerOrderDetailMainActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Admin.Order.CustomerOrderActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Admin.Product.HiddenProduct"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Admin.Bill.CustomerBillActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Admin.AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Admin.Category.ViewCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Admin.Category.UpdateCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Admin.Category.NewCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Admin.Brand.ViewAllBrandActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Admin.Brand.UpdateBrandActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Admin.Product.UpdateProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Admin.Product.NewProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Admin.Product.ViewAllProductActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Customer.CartActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.Admin.Brand.NewBrandActivity"
            android:exported="false" />
        <activity
            android:name=".view.Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>